# Firebase
VITE_FIREBASE_API_KEY=
VITE_FIREBASE_AUTH_DOMAIN=
VITE_FIREBASE_PROJECT_ID=animalume
VITE_FIREBASE_STORAGE_BUCKET=
VITE_FIREBASE_MESSAGING_SENDER_ID=
VITE_FIREBASE_APP_ID=
VITE_FIREBASE_MEASUREMENT_ID=

# LINE Login (Phase 5)
# VITE_LINE_CHANNEL_ID=
# VITE_LINE_CALLBACK_URL=

# Kakao Login (Phase 5)
# VITE_KAKAO_APP_KEY=
# VITE_KAKAO_CALLBACK_URL=
